/* ==|== base ======================================================= */

body { font-size: 62.5% }

.container {
	width: 97.8em;
	margin: 40px auto;
}

.grid1, .grid2, .grid3, .grid4, .grid5, .grid6,
.grid7, .grid8, .grid9, .grid10, .grid11, .grid12 {
	float: left;
	display: inline;
	margin-left: 3em;
	background-color: #eee;
	height: 50px;
	margin-bottom: 3em;
}

.first { margin-left: 0; clear: both; }

.grid2 { width: 13.8em }
.grid4 { width: 30.6em }
.grid6 { width: 47.4em }
.grid8 { width: 64.2em }
.grid10 { width: 81.0em }
.grid12 { width: 97.8em }