/* Default/Mobile Styles */
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

.container {
	position: relative;
	overflow: hidden;
}

#grid {
	position: absolute;
	top: 0;
	left: $padding;
	display: block;
	z-index: -1;
}

.container:hover #grid .grid1, .container:hover #grid .grid2 {
	
    background-color: rgba(0, 200, 0, 0.2);
	height: 3500px;
}



/* Desktop */
@media (min-width: 47.9375em) {

}


/* Tablets in Portrait */
@media (min-width: 47.9375em) and (max-width: 61.125em)  {

}

 /* Mobile in Landscape */
@media (min-width: 30em) and (max-width: 47.9375em) {

}