/* ==|== reset ======================================================= */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

a {
  color: #00e; }

a:visited {
  color: #551a8b; }

a:hover {
  color: #06e; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

input:invalid, textarea:invalid {
  background-color: #f0dddd; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* ==|== base ======================================================= */
html {
  font-size: 62.5%; }

img {
  max-width: 100%; }

p {
  margin-top: 0; }

.container {
  width: 978px;
  width: 97.8rem;
  margin: 0 auto;
  font-size: 1.6rem; }

.grid1, .grid2, .grid3, .grid4, .grid5, .grid6,
.grid7, .grid8, .grid9, .grid10, .grid11, .grid12 {
  float: left;
  display: inline;
  margin-left: 30px;
  margin-left: 3rem; }

.first {
  margin-left: 0;
  clear: both; }

.group {
  clear: both; }

.grid1 {
  width: 54px;
  width: 5.4rem; }

.grid2 {
  width: 138px;
  width: 13.8rem; }

.grid3 {
  width: 222px;
  width: 22.2rem; }

.grid4 {
  width: 306px;
  width: 30.6rem; }

.grid5 {
  width: 390px;
  width: 39.0rem; }

.grid6 {
  width: 474px;
  width: 47.4rem; }

.grid7 {
  width: 558px;
  width: 55.8rem; }

.grid8 {
  width: 642px;
  width: 64.2rem; }

.grid9 {
  width: 726px;
  width: 72.6rem; }

.grid10 {
  width: 810px;
  width: 81.0rem; }

.grid11 {
  width: 894px;
  width: 89.4rem; }

.grid12 {
  width: 978px;
  width: 97.8rem; }

/* ==|== layout ======================================================= */
@media only screen and (max-width: 47.9375em) {
  .container {
    font-size: 14px;
    font-size: 1.4rem; } }
/* Mobile in portrait */
@media only screen and (max-width: 47.9375em) {
  .container {
    width: 90%;
    max-width: 479px;
    max-width: 47.9rem;
    padding: 0 10px;
    padding: 0 1rem; }

  .grid1, .grid2, .grid3,
  .grid4, .grid5, .grid6,
  .grid7, .grid8, .grid9,
  .grid10, .grid11, .grid12 {
    width: 100%;
    margin-left: 0; } }
@media only screen and (min-width: 30em) and (max-width: 47.9375em) {
  .container {
    font-size: 16px;
    font-size: 1.6rem; } }
/* Tablets in Portrait */
@media only screen and (min-width: 48em) and (max-width: 61.125em) {
  .container {
    width: 768px;
    width: 76.8rem; }

  .grid1 {
    width: 365px;
    width: 3.65rem; }

  .grid2 {
    width: 103px;
    width: 10.3rem; }

  .grid3 {
    width: 169px;
    width: 16.95rem; }

  .grid4 {
    width: 236px;
    width: 23.6rem; }

  .grid5 {
    width: 302px;
    width: 30.25rem; }

  .grid6 {
    width: 369px;
    width: 36.9rem; }

  .grid7 {
    width: 435px;
    width: 43.55rem; }

  .grid8 {
    width: 502px;
    width: 50.2rem; }

  .grid9 {
    width: 568px;
    width: 56.85rem; }

  .grid10 {
    width: 635px;
    width: 63.5rem; }

  .grid11 {
    width: 701px;
    width: 70.15rem; }

  .grid12 {
    width: 768px;
    width: 76.8rem; }

  .group .first {
    clear: none; }

  .group .grid1 {
    width: 103px;
    width: 10.3rem;
    margin-bottom: 0; }

  .group .grid2 {
    width: 169px;
    width: 16.95rem;
    margin-bottom: 0; }

  /*.group .grid3 { width: 23.6em; margin-bottom: 0 }*/
  .group .grid3, .group .grid4, .group .grid5, .group .grid6, .group .grid7, .group .grid8 {
    width: 369px;
    width: 36.9rem; }

  .group .grid3:nth-child(odd),
  .group .grid4:nth-child(odd), .group .grid5:nth-child(odd),
  .group .grid6:nth-child(odd), .group .grid7:nth-child(odd),
  .group .grid8:nth-child(odd) {
    margin-left: 0;
    clear: both; }

  .group .grid3:nth-child(even),
  .group .grid4:nth-child(even), .group .grid5:nth-child(even),
  .group .grid6:nth-child(even), .group .grid7:nth-child(even),
  .group .grid8:nth-child(even) {
    margin-left: 30px;
    margin-left: 3rem; }

  .container {
    font-size: 15px;
    font-size: 1.5rem; } }
/* ==|== helpers ======================================================= */
/* For image replacement */
.ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

.row:before, .row:after {
  content: "";
  display: table; }

.row:after {
  clear: both; }

.row {
  *zoom: 1; }

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
